* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgba(250, 250, 250, 0.55);
    height: 70px;
    width: 100%;
    position: fixed;
    inset: 0;
    z-index: 10;
}
h1{
    color: #902d36;
    position: absolute;
    left: 50px;
    top: 0;
    line-height: 70px;
}
header ul {
    position: absolute;
    right: 1vw;
    top: 0;
    line-height: 70px;
}
header li {
    display: inline;
    margin-right: 3vw;
}
header a {
    color: #902d36;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.news{
    background-color: #f4c4c4;
    color: #902d36;
    height: 97.5vh;
    background-image:url("NEVE-beauty網站.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.news h2{
    color: #902d36;
    font-size: 50px;
    margin-left: 5vw;
    position: relative;
    top: 570px;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.news h3{
    color: #902d36;
    font-size: 50px;
    margin-left: 11vw;
    position: relative;
    top: 580px;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.news p{
    color: #D4727C;
    font-size: 30px;
    margin-left: 6vw;
    position: relative;
    top: 600px;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.Bottom {
    background-color: #90343b;
    color: #FFFFFF;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.menu {
    display:none;
}
.closebtn {
    display: none;
}
.news.hide-text h2,
.news.hide-text h3,
.news.hide-text p {
    opacity: 0;
    transform: translateY(20px);
}
/* 響應式設計語法 */
@media screen and (max-width:768px){
    header > ul > li{
        display:none;
    }
    header h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(18px, 4vw, 28px);
    }
    .menu {
        display:block;
        background-color:transparent;
        color:#902d35;
        font-size:50px;
        position:absolute;
        left:20px;
        border:none;
        cursor:pointer;
    }
    .links {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: rgba(49, 11, 11, 0.683);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        max-width: 100vw;
        opacity: 0;
        visibility: hidden;
        transform: translateZ(0);
        transition:opacity 0.4s ease,visibility 0.4s;
        z-index: 9999;
        overflow-y: auto
        display: flex;
        justify-content: center;
        pointer-events: none;
        top: 10px;
    }
    .links a{
        display: block;
        text-decoration: none;
        color: #fffcfc;
        font-size: 25px;
        text-transform: uppercase;
        transition: 0.3s ease;
        text-align: center;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        letter-spacing: 5px;
        line-height: 2.3;
    }
    .links.active {
        left: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .links.active .closebtn {
        display: block;
    }
    .links ul {
        list-style: none;
        padding: 0;
        padding-top: 20px;
        gap: 0.5px; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: static;
        margin: 0;
    }
    .links li {
        display: block;
        opacity: 0;
        transform: translateY(10px);
        transition: 0.4s ease;
    }
    .links.active li {
        opacity: 1;
        transform: translateY(0);
    }
    .news{
        height: 97.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image:url("NEVE-beauty網站2.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    }
    .news h2{
        font-size: clamp(24px, 5vw, 60px);
        margin-left: 15vw;
        top: clamp(50px, 25vh, 300px);
    }
    .news h3{
        font-size: clamp(24px, 5vw, 60px);
        margin-left: 28vw;
        top: clamp(50px, 25vh, 300px);
    }
    .news p{
        font-size: clamp(12px, 2.5vw, 30px);
        margin-left: 29vw;
        top: clamp(60px, 25vh, 310px)
    }
    .closebtn {
        position: fixed;
        top: 30px;
        left: 30px;
        width: 45px;
        height: 45px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 1002;
    }
    .closebtn::before,
    .closebtn::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 36px;
        height: 2.5px;
        background: #f8eaea;
        transform-origin: center;
        transition: 0.3s ease;
    }
    .closebtn::before {
         transform: translate(-50%, -50%) rotate(45deg); 
    }
    .closebtn::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .overlay {
        inset: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
    .links a:hover {
        opacity: 0.6;
    }

}









